
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .container::after{
        content: '';
        display:block;
        clear: both;
    }


   
     
    section{
    margin: 50px auto;
    }
     
    section img{
    border-radius: 30%;
    border: 1px solid rgb(45, 44, 44);
    }
    
.wa
{
    color: gold;
}
.tele
{
    color:gold;
}